* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Rubik", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b132a;
  height: 100%;
}

button {
  position: relative;
  border: none;
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit !important;
  text-decoration: none;
}

h2 {
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.35;

  @media screen and (min-width: 760px) {
    font-size: 2.5vw;
  }

  @media screen and (min-width: 1600px) {
    font-size: 2vw;
  }
}
